
main {

    padding: 2rem 0rem 0rem 0rem!important;
    width: 100vw;
    
}

/* body{
    background: linear-gradient(to right, rgb(57, 140, 234), rgb(193, 221, 242)  , rgb(171, 202, 238));

} */



input, textarea{
    font-size: 1rem;
    
}

.main__grid-container{

    display: grid;
    grid-template-rows: repeat(14, 5rem);
    grid-template-columns: 3fr 3fr 12rem; 


}

.main__section-contact-carousel-grid-item-flex-row{
    background-color: var(--lightgrey-bg);

    grid-column: 1/3;
    grid-row: 1/6;


    justify-content: space-around;

    display: flex;

}


.main__div-contact-flex-col{
    grid-row: 1/3;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    
    font-size: larger;
    background-color: var(--lightgrey-bg-darker);

    flex-grow: 1;
    
    gap: 1rem;
    border-radius: 1rem;
    padding: 2rem 3rem 2rem 5rem;
}

.main__div-container-location-flex-col{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main__li-contact{
    list-style-type: none;
    padding-left: 1rem ;
}

.main__div-container-form-flex-col{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main__div-inputs-flex-row{
    display: flex;
}

.form__input-small{
    height: 2.5rem;
    padding: 0rem 1rem;
}

.form__text-area {

    padding: 1rem 1rem 0rem 1rem;
    max-width: 25rem;
    max-height: 6rem;


}

.main__div-carousel{
    /* border: 1px solid red; */

    grid-row: 3/5;

    width: 50rem ;
    height: 25rem;
    grid-column: 2/3;
    padding: 2rem 2rem 2rem 1rem;

    
}

.main__div-carousel img{

    width: 100%;
    height: 20rem;
   
}

.main__div-carousel {


	position: relative;
	grid-row: 3/5;
	width: 50rem;
	height: 25rem;
	grid-column: 2/3;
	padding: 2rem 2rem 2rem 1rem;
}

	.main__li-carousel-slide {
		position: absolute;
	    inset: 0;
	    opacity: 0;
	}
	.main__li-carousel-slide	img {
		width: 100%;
		height: 20rem;
		margin-top: 2rem ;
	}

	.main__button-carousel{
		position: absolute;
		z-index: 1;
		top: 11.5rem;

        
	    transform:scale(1.3);
		padding:0.2rem 0.2rem 0rem 0.2rem;

		border-radius: 0.2rem;
		border: none;

		opacity: 0.75;
		color: rgb(26, 24, 24);

		cursor: pointer;

	}

    .main__button-carousel:hover{

        color: black;
        opacity: 1;
    

    }
	
	.main__button-carousel.prev{
		left: 0.5rem;
	}

	.main__button-carousel.next{
		right: 0.5rem;
	}


.main__li-carousel-slide.active{
	opacity: 1;
}






.main__section-map-grid-item{
    /* display: grid;
    grid-area: map; */
    grid-column: 1/3;
    grid-row: 6/10;


    z-index: 1;

}


.main__aside-vertical-ad{
    /* display: grid;
    grid-area: vertical-ad ; */

    display: grid;
    
    grid-column-start: 3;
    grid-column-end: 4;

    
    height: 70rem;
    margin-left: 0.2rem;

    
}

@media (max-width: 1200px){
    
    .main__grid-container{
        
        grid-template-rows: repeat(11, 10rem) ;
        grid-template-columns: 3fr 3fr ; 

    }
    
    .main__div-carousel{
    }
    .main__section-contact-carousel-grid-item-flex-row{
        flex-direction: column;
        object-fit: contain;
        
        grid-column: 1/4;
    
    }
    .main__div-contact-flex-col{
        align-items: center;
        width: 100%;
        flex-direction: row;

        padding: 1rem 0rem;

    }

    .main__div-carousel{
        align-self: center;
        padding: 1rem 1rem 1rem 1rem;
    }

    .main__section-newsletter-grid-item{
        grid-row:  8/12 !important; 

    }

    .main__aside-vertical-ad.display{
            
        display: none;



    }

}

@media(max-width: 850px){
    .main__div-carousel 
    {
        width: 40rem;
        
    }

    .main__div-contact-flex-col{
        flex-direction: column;
    }
}


@media(max-width: 620px){
    .main__div-carousel 
    {
        width: 30rem;
        
    }
}

@media (max-width: 490px){

    .main__div-carousel{
        width: 20rem;
        overflow-x: hidden;
    }

    
    .main__div-carousel img {

        width: 20rem;
        height: 15rem;

        display: flex;
        margin: 4rem auto;

    }

 

    .main__div-inputs-flex-row{
        flex-direction: column;
    }

}