*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    background-color: bisque;
}

header {

    background-color: rgb(156, 203, 244);
    width: 100vw;
}

h1{
    font-size: 2rem;
    text-align: center;
    height: 70px;
    padding-top: 20px;
}

a {
    text-decoration: none;
    color: black;
}


ul {

    display: flex;
    justify-content: space-between;
}

.ul-header li {
    list-style-type: none;

    border: 2px solid rgb(28, 107, 210);
    border-radius: 0.25rem;

    padding: 3px;
}

.ul-header li:hover{
    background-color:rgb(0, 102, 235) ;
}

nav {
    background-color: rgb(130, 190, 243);
}

main {
    padding: 30px 10px;
}

.container{
    border-radius: 10%;
    background-size: 100%;
    height: 100px;
    width: 100px;
}



#container-purses{
    background-image: url(/images/cartera.jpg);


}

#container-jacket{
    background-image: url(/images/campera.jpg);
}

#container-shoes{
    background-image: url(/images/taco.jpg);
}

#container-offer{
    background-image: url(/images/ofertas.jpg);
}

